{{!--
  Copyright 2017, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="mode-toggle">
 <div class="mode on-view {{if isToggled "selected"}}" {{action "toggle"}} hidden={{isToggled}}>
   {{fa-icon "toggle-off" class="off" size=2}}
 </div>
 <div class="mode off-view {{if notToggled "selected"}}" {{action "toggle"}} hidden={{notToggled}}>
   {{fa-icon "toggle-on" class="on" size=2}}
 </div>
</div>
