{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}

<div class="subsection-header">Select your Output Type</div>
<div class="output-options">
  <RadioButton @radioId="raw" @value={{AGGREGATIONS.RAW}} @groupValue={{outputDataType}} @changed={{action "addRawAggregation" false}} @disabled={{disabled}}>
    Raw Data
  </RadioButton>
  <RadioButton @radioId="grouped-data" @value={{AGGREGATIONS.GROUP}} @groupValue={{outputDataType}} @changed={{action "addGroupAggregation"}} @disabled={{disabled}}>
    Group Data
  </RadioButton>
  <RadioButton @radioId="count-distinct" @value={{AGGREGATIONS.COUNT_DISTINCT}} @groupValue={{outputDataType}} @changed={{action "addCountDistinctAggregation"}} @disabled={{disabled}}>
    Count Distinct
  </RadioButton>
  <RadioButton @radioId="distribution" @value={{AGGREGATIONS.DISTRIBUTION}} @groupValue={{outputDataType}} @changed={{action "addDistributionAggregation"}} @disabled={{disabled}}>
    Distribution
  </RadioButton>
  <RadioButton @radioId="top-k" @value={{AGGREGATIONS.TOP_K}} @groupValue={{outputDataType}} @changed={{action "addTopKAggregation"}} @disabled={{disabled}}>
    Top K
  </RadioButton>
</div>

<div class="output-container">

  {{#if isRawAggregation}}
    <div class="subsection-header">Select your Fields</div>
    <div class="raw-sub-options inline-radio-buttons">
      <RadioButton @radioId="all" @value={{RAWS.ALL}} @groupValue={{rawType}} @changed={{action "deleteProjections"}} @disabled={{disabled}}>
        Show All Fields
      </RadioButton>
      <RadioButton @radioId="select" @value={{RAWS.SELECT}} @groupValue={{rawType}} @changed={{action "addRawAggregation" true}} @disabled={{disabled}}>
        Select Fields
      </RadioButton>
    </div>
    <div class="output-nested-container">
      {{#if showRawSelections}}
        <div class="fields-selection-container projections-container">
          {{#each query.projections as |projection|}}
            <ValidatedFieldSelection @model={{projection}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @fieldClasses="col-xs-6" @nameClasses="col-xs-4" @enableDeleting={{canDeleteProjections}} @fieldModified={{action "modifyFieldLike" projection}} @deleteModel={{action "destroyModel" projection}} />
          {{/each}}
          <button {{action "addFieldLike" "projection" "query" "query"}} disabled={{disabled}} class="btn btn-primary btn-xs add-button add-projection">
            {{fa-icon "plus"}}
            Field
          </button>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if isGroupAggregation}}
    <div class="output-nested-container">
      <div class="fields-selection-container groups-container">
        <div class="subsection-header">Select Group Fields</div>
        {{#each query.aggregation.groups as |group|}}
          <ValidatedFieldSelection @model={{group}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @fieldClasses="col-xs-6" @nameClasses="col-xs-5" @fieldModified={{action "modifyFieldLike" group}} @deleteModel={{action "destroyModel" group}} />
        {{/each}}
        <button {{action "addFieldLike" "group" "aggregation" "query.aggregation"}} disabled={{disabled}} class="btn btn-primary btn-xs add-button add-group">
          {{fa-icon "plus"}}
          Group Field
        </button>
      </div>

      <br />

      <div class="fields-selection-container metrics-container">
        <div class="subsection-header">Select Metric Fields</div>
        {{#each query.aggregation.metrics as |metric|}}
          <ValidatedFieldSelection @model={{metric}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @fieldClasses="col-xs-5" @nameClasses="col-xs-3" @disableField={{metric.hasNoField}} @fieldModified={{action "modifyFieldLike" metric}} @deleteModel={{action "destroyModel" metric}}>
            <div class="col-xs-3 metrics-selection">
              <label class="power-select-label">Metric</label>
              <PowerSelect @disabled={{disabled}} @selected={{lift-string "name" metric.type}} @options={{metricsList}} @onchange={{action "handleMetricChange" metric}} as |metricItem|>
                {{metricItem.name}}
              </PowerSelect>
            </div>
          </ValidatedFieldSelection>
        {{/each}}
        <button {{action "addFieldLike" "metric" "aggregation" "query.aggregation"}} disabled={{disableAddingMetric}} class="btn btn-primary btn-xs add-button add-metric">
          {{fa-icon "plus"}}
          Metric Field
        </button>
      </div>
    </div>
  {{/if}}

  {{#if isCountDistinctAggregation}}
    <div class="output-nested-container">
      <div class="subsection-header">Select your Fields</div>
      <div class="fields-selection-container fields-container">
        {{#each query.aggregation.groups as |field|}}
          <ValidatedFieldSelection @model={{field}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @enableRenaming={{false}} @enableDeleting={{canDeleteField}} @fieldClasses="col-xs-10" @fieldModified={{action "modifyFieldLike" field}} @deleteModel={{action "destroyModel" field}} />
        {{/each}}
        <button {{action "addFieldLike" "group" "aggregation" "query.aggregation"}} disabled={{disabled}} class="btn btn-primary btn-xs add-button add-field">
          {{fa-icon "plus"}}
          Field
        </button>
      </div>

      <div class="subsection-header">Rename Count Field</div>
      <div class="row narrow-row count-distinct-display-name">
        <LabeledInput class="col-xs-2" @fieldName="Display Name" @fieldValue={{query.aggregation.attributes.newName}} @placeholder="Optional" @disabled={{disabled}} />
      </div>
    </div>
  {{/if}}

  {{#if isDistributionAggregation}}
    <div class="output-nested-container">
      <div class="subsection-header">Select Distribution</div>
      <div class="distribution-sub-options distribution-type-options inline-radio-buttons">
        <RadioButton @radioId="quantile" @value={{DISTRIBUTIONS.QUANTILE}} @groupValue={{distributionType}} @changed={{action "modifyDistributionType" DISTRIBUTIONS.QUANTILE}} @disabled={{disabled}}>
          Quantiles
        </RadioButton>
        <RadioButton @radioId="frequency" @value={{DISTRIBUTIONS.PMF}} @groupValue={{distributionType}} @changed={{action "modifyDistributionType" DISTRIBUTIONS.PMF}} @disabled={{disabled}}>
          Frequencies
        </RadioButton>
        <RadioButton @radioId="cumulative" @value={{DISTRIBUTIONS.CDF}} @groupValue={{distributionType}} @changed={{action "modifyDistributionType" DISTRIBUTIONS.CDF}} @disabled={{disabled}}>
          Cumulative Frequencies
        </RadioButton>
      </div>

      <div class="subsection-header">Select a Field</div>
      <div class="fields-selection-container fields-container">
        {{#each query.aggregation.groups as |field|}}
          <ValidatedFieldSelection @model={{field}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @enableRenaming={{false}} @enableDeleting={{false}} @fieldClasses="col-xs-10" @fieldModified={{action "modifyFieldLike" field}} @deleteModel={{action "destroyModel" field}} />
        {{/each}}
      </div>

      <div class="subsection-header">Select how your Points are created</div>
      <div class="distribution-sub-options distribution-point-options inline-radio-buttons">
        <RadioButton @radioId="number-points" @value={{DISTRIBUTION_POINTS.NUMBER}} @groupValue={{pointType}} @changed={{action "modifyDistributionPointType" DISTRIBUTION_POINTS.NUMBER}} @disabled={{disabled}}>
          Evenly spaced points
        </RadioButton>
        <RadioButton @radioId="generate-points" @value={{DISTRIBUTION_POINTS.GENERATED}} @groupValue={{pointType}} @changed={{action "modifyDistributionPointType" DISTRIBUTION_POINTS.GENERATED}} @disabled={{disabled}}>
          Evenly spaced points in a region
        </RadioButton>
        <RadioButton @radioId="points" @value={{DISTRIBUTION_POINTS.POINTS}} @groupValue={{pointType}} @changed={{action "modifyDistributionPointType" DISTRIBUTION_POINTS.POINTS}} @disabled={{disabled}}>
          Define points
        </RadioButton>
      </div>

      {{#if isNumberOfPoints}}
        <div class="row narrow-row distribution-type-number-of-points">
          <LabeledInput class="col-xs-2" @type="number" @fieldName="Number of Points" @fieldValue={{query.aggregation.attributes.numberOfPoints}} @placeholder="Number" @disabled={{disabled}} />
        </div>
      {{else if isPoints}}
        <div class="row narrow-row distribution-type-points">
          <LabeledInput class="col-xs-4" @fieldName="Points" @fieldValue={{query.aggregation.attributes.points}} @maxlength={{131072}} @placeholder="Comma separated numbers" @disabled={{disabled}} />
        </div>
      {{else if isGeneratedPoints}}
        <div class="row narrow-row distribution-type-point-range">
          <LabeledInput class="col-xs-2" @type="number" @fieldName="Start" @fieldValue={{query.aggregation.attributes.start}} @placeholder="Number" @disabled={{disabled}} />
          <LabeledInput class="col-xs-2" @type="number" @fieldName="End" @fieldValue={{query.aggregation.attributes.end}} @placeholder="Number" @disabled={{disabled}} />
          <LabeledInput class="col-xs-2" @type="number" @fieldName="Increment" @fieldValue={{query.aggregation.attributes.increment}} @placeholder="Number" @disabled={{disabled}} />
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if isTopKAggregation}}
    <div class="output-nested-container">
      <div class="subsection-header">Select Fields</div>
      <div class="fields-selection-container fields-container">
        {{#each query.aggregation.groups as |field|}}
          <ValidatedFieldSelection @model={{field}} @columns={{columns}} @subfieldSuffix={{subfieldSuffix}} @subfieldSeparator={{subfieldSeparator}} @disabled={{disabled}} @forceDirty={{forceDirty}} @fieldClasses="col-xs-6" @nameClasses="col-xs-5" @enableDeleting={{canDeleteField}} @fieldModified={{action "modifyFieldLike" field}} @deleteModel={{action "destroyModel" field}} />
        {{/each}}
        <button {{action "addFieldLike" "group" "aggregation" "query.aggregation"}} disabled={{disabled}} class="btn btn-primary btn-xs add-button add-field">
          {{fa-icon "plus"}}
          Field
        </button>
      </div>
      <div class="subsection-header">Select the maximum number of results</div>
      <div class="row narrow-row top-k-size">
        <ValidatedInput @inputClassNames="col-xs-2" @model={{query.aggregation}} @valuePath="size" @fieldName="K" @disabled={{isListening}} />
      </div>
      <div class="subsection-header">Having Minimum Count</div>
      <div class="row narrow-row top-k-min-count">
        <LabeledInput class="col-xs-2" @type="number" @fieldName="Minimum Count" @fieldValue={{query.aggregation.attributes.threshold}} @placeholder="Optional" @disabled={{disabled}} />
      </div>
      <div class="subsection-header">Rename Count Field</div>
      <div class="row narrow-row top-k-display-name">
        <LabeledInput class="col-xs-2" @fieldName="Display Name" @fieldValue={{query.aggregation.attributes.newName}} @placeholder="Optional" @disabled={{disabled}} />
      </div>
    </div>
  {{/if}}

  <div class="help">
    {{#if isRawAggregation}}
      <InfoPopover @isButton={{false}} @additionalText="Need more help?" @title="Raw Data">
        {{partial "partials/raw-data-help"}}
      </InfoPopover>
    {{else if isGroupAggregation}}
      <InfoPopover @isButton={{false}} @additionalText="Need more help?" @title="Group Data">
        {{partial "partials/group-data-help"}}
      </InfoPopover>
    {{else if isCountDistinctAggregation}}
      <InfoPopover @isButton={{false}} @additionalText="Need more help?" @title="Count Distinct">
        {{partial "partials/count-distinct-help"}}
      </InfoPopover>
    {{else if isDistributionAggregation}}
      <InfoPopover @isButton={{false}} @additionalText="Need more help?" @title="Distribution">
        {{partial "partials/distribution-help"}}
      </InfoPopover>
    {{else if isTopKAggregation}}
      <InfoPopover @isButton={{false}} @additionalText="Need more help?" @title="Top K">
        {{partial "partials/top-k-help"}}
      </InfoPopover>
    {{/if}}
  </div>
</div>
