{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<label class="power-select-label">Field</label>
<PowerSelect @selected={{@selectedColumn}} @options={{@columns}} 
             @searchField="id" @onChange={{@onChange}} @disabled={{@disabled}} as |column|>
  {{column.id}}
</PowerSelect>
