{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="query-panel {{if isListening "query-running"}}">

  <div class="validation-container">
    {{#if hasError}}
      {{#simple-alert type="error"}}
        <span>OOPS! PLEASE FIX ALL ERRORS TO PROCEED</span>
        <ul class="error-list">
          {{#each query.validations.messages as |message|}}
            <li>{{message}}</li>
          {{/each}}
        </ul>
      {{/simple-alert}}
    {{else if hasSaved}}
      {{#simple-alert type="success"}}
        <span>SAVED TO BROWSER CACHE!</span>
      {{/simple-alert}}
    {{else if hasCancelled}}
      {{#simple-alert type="warning"}}
        <span>CANCELLED!</span>
      {{/simple-alert}}
    {{/if}}
  </div>

  <div class="scrollable-panel">

    <div class="container-fluid name-container">
      <div class="col-xs-12 query-name">
        {{labeled-input fieldName="Name" placeholder="Name Your Query" fieldValue=query.name disabled=isListening maxlength=80}}
      </div>
    </div>

    <div class="container-fluid filter-container">
      <div class="section-header">
        <h3 class="section-title">Filters</h3>
        {{#info-popover title="Filters"}}
          {{partial "partials/filter-help"}}
        {{/info-popover}}
      </div>
      <div class="{{queryBuilderClass}}"></div>
    </div>


    <div class="container-fluid output-container">
      <div class="section-header">
        <h3 class="section-title">Output Data</h3>
        {{#info-popover title="Output Data"}}
          {{partial "partials/output-data-help"}}
        {{/info-popover}}
      </div>

      {{output-data-input subfieldSuffix=subfieldSuffix subfieldSeparator=subfieldSeparator query=query forceDirty=hasError disabled=isListening columns=columns}}
    </div>


    <div class="container-fluid options-container">
      <div class="section-header">
        <h3 class="section-title">Query Stop Criteria</h3>
        {{#info-popover title="Query Stop Criteria"}}
          {{partial "partials/options-help"}}
        {{/info-popover}}
      </div>

      <div class="row">
        {{#if showAggregationSize}}
          {{validated-input inputClassNames="col-xs-2 aggregation-size" model=query.aggregation valuePath="size" fieldName="Maximum Result Count" type="number" placeholder="Number" disabled=isListening}}
        {{/if}}
        {{validated-input inputClassNames="col-xs-2 query-duration" model=query valuePath="duration" fieldName="Maximum Duration (seconds)" type="number" placeholder="Number" disabled=isListening}}
      </div>
    </div>

  </div>


  <div class="container-fluid control-container">
    <hr />
    {{#if isListening}}
      {{timed-progress-bar active=true duration=listenDuration}}
      <button type="button" class="btn btn-default btn-md cancel-button" onclick={{action "cancel"}}>Cancel Query</button>
    {{else}}
      <button type="button" class="btn btn-primary btn-md submit-button" {{action "listen"}}>Run Query</button>
      <button type="button" class="btn btn-default btn-md save-button" onclick={{action "save"}}>Save Query</button>
    {{/if}}
  </div>


</div>
