{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="records-title">

  <span class="section-header">
    <h3 class="section-title">Records</h3>
    <InfoPopover @title="Visualization">
      {{partial "partials/records-help"}}
    </InfoPopover>
  </span>

  <span class="records-header">
    {{records.length}} records in this view
  </span>

  <div class="view-controls">
    {{#if enableCharting}}
      <button type="button" class="view-control chart-view {{if showChart "active"}}" {{action "chartMode"}} disabled={{showChart}}>
        {{fa-icon "area-chart"}}
        <EmberTooltip>Chart, pivot and visualize your data</EmberTooltip>
      </button>
    {{/if}}
    <button type="button" class="view-control table-view {{if showTable "active"}}" {{action "tableMode"}} disabled={{showTable}}>
      {{fa-icon "table"}}
      <EmberTooltip>Show as table</EmberTooltip>
    </button>
    <button type="button" class="view-control raw-view {{if showRawData "active"}}" {{action "rawDataMode"}} disabled={{showRawData}}>
      {{fa-icon "code"}}
      <EmberTooltip>Show raw data</EmberTooltip>
    </button>
    <div class="btn-group download-wrapper">
      <button type="button" class="view-control download dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{fa-icon "download"}}
        <EmberTooltip @side="left">Download your data</EmberTooltip>
      </button>
      <ul class="download-options dropdown-menu">
        <div class="triangle">
          <div class="inner"></div>
        </div>
        <li class="download-option"><a {{action "downloadAsJSON"}}>JSON</a></li>
        <li class="download-option"><a {{action "downloadAsCSV"}}>CSV</a></li>
        <li class="download-option"><a {{action "downloadAsFlatCSV"}}>Flat CSV</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="records-display">
  {{#if showRawData}}
    <RecordsRawViewer @data={{records}} />
  {{else if showTable}}
    <RecordsTable @appendMode={{appendMode}} @timeSeriesMode={{timeSeriesMode}} @columnNames={{columns}} @rawRows={{records}} />
  {{else if enableCharting}}
    <RecordsCharter @timeSeriesMode={{timeSeriesMode}} @config={{config}} @columns={{columns}} @rows={{records}} @model={{model}} />
  {{/if}}
</div>
