{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="visual-controls">
  <button type="button" class="pivot-control {{if pivotMode "active"}}" {{action "togglePivot"}} disabled={{pivotMode}}>
    {{fa-icon "sliders"}}
    {{#ember-tooltip}}Slice, dice and visualize your data{{/ember-tooltip}}
  </button>
  {{#unless canOnlyPivot}}
    {{#if canShowPieChart}}
      <button type="button" class="chart-control pie-view {{if showPieChart "active"}}" {{action "changeChart" "showPieChart"}} disabled={{showPieChart}}>
        {{fa-icon "pie-chart"}}
        {{#ember-tooltip}}Show as pie chart{{/ember-tooltip}}
      </button>
    {{/if}}
    <button type="button" class="chart-control line-view {{if showLineChart "active"}}" {{action "changeChart" "showLineChart"}} disabled={{showLineChart}}>
      {{fa-icon "line-chart"}}
      {{#ember-tooltip}}Show as line chart{{/ember-tooltip}}
    </button>
    <button type="button" class="chart-control bar-view {{if showBarChart "active"}}" {{action "changeChart" "showBarChart"}} disabled={{showBarChart}}>
      {{fa-icon "bar-chart"}}
      {{#ember-tooltip side="left"}}Show as bar chart{{/ember-tooltip}}
    </button>
  {{/unless}}
</div>

<div class="visual-container">
  {{#if pivotMode}}
    {{pivot-table rows=rows columns=columns initialOptions=pivotOptions onRefresh=(action "saveOptions")}}
  {{else if timeSeriesMode}}
    {{#if showLineChart}}
      {{ember-chart type="line" animate=false data=timeSeriesData options=timeSeriesOptions}}
    {{else}}
      {{ember-chart type="bar" animate=false data=timeSeriesData options=timeSeriesOptions}}
    {{/if}}
  {{else}}
    {{#if showPieChart}}
      {{ember-chart type="doughnut" animate=true data=regularData options=regularOptions}}
    {{else if showLineChart}}
      {{ember-chart type="line" animate=true data=regularData options=regularOptions}}
    {{else}}
      {{ember-chart type="bar" animate=true data=regularData options=regularOptions}}
    {{/if}}
  {{/if}}
</div>
