{{!--
  Copyright 2018, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
--}}
<div class="control-container">

  <div class="mode-control-wrapper">
      <div class="mode-control auto-update-wrapper {{unless showAutoUpdate "no-visibility"}}">
        <span>AutoUpdate</span>
        <ModeToggle @isToggled={{autoUpdate}} @onToggled={{action "changeAutoUpdate"}} />
        <EmberTooltip @side="right">Automatically show the latest data when it arrives</EmberTooltip>
      </div>
      <div class="mode-control time-series-wrapper {{unless showTimeSeries "no-visibility"}}">
        <span>TimeSeries</span>
        <ModeToggle @isToggled={{timeSeriesMode}} @onToggled={{action "changeTimeSeriesMode"}} />
        <EmberTooltip @side="right">Compare data across your windows against the first numeric column in your data</EmberTooltip>
      </div>
  </div>

  {{#unless hasError}}

    <div class="window-selector">
      {{#unless appendRecordsMode}}
        {{#if isTimeWindow}}
          <div class="progress-indicator window-progress-indicator">
            <TimedProgressBar @shape="Line" @active={{isRunningQuery}} @useStep={{false}} @duration={{windowDuration}} @retriggerOnChangeIn={{numberOfWindows}} />
            <EmberTooltip @side="top">Your next estimated window arrival time</EmberTooltip>
          </div>
        {{/if}}
      {{/unless}}

      {{#unless hasNoWindow}}
        <PowerSelect @selected={{selectedWindow}} @options={{result.windows}} @placeholderComponent={{component "result-window-placeholder" windowCount=numberOfWindows aggregateMode=aggregateMode}} @searchField="sequence" @searchPlaceholder="Search with your window number in the metadata..." @onchange={{action "changeWindow"}} @disabled={{aggregateMode}} as |window|>
          <span class="window-number"><strong>#{{window.sequence}}:</strong></span>
          <span class="window-size">{{window.records.length}}</span> records at
          <span class="window-time">{{moment-format window.created "dddd, hh:mm:ss a"}}</span>
        </PowerSelect>
      {{/unless}}

    </div>

    <div class="progress-indicator query-progress-indicator">
      <TimedProgressBar @shape="Circle" @active={{isRunningQuery}} @duration={{queryDuration}} />
      <EmberTooltip @side="left">How long your query has been running compared to its total duration</EmberTooltip>
    </div>

  {{/unless}}
</div>

{{#if hasData}}
  <div class="information-container window-information">
    <span class="section-header">
      <h3 class="section-title">Results</h3>
      <InfoPopover @title="Results">
        {{partial "partials/results-help"}}
      </InfoPopover>
    </span>
    <WindowMetadata @metadata={{metadata}} />
  </div>
{{/if}}

<div class="records-container">
  {{#if hasError}}
    {{partial "partials/query-killed"}}
  {{else if hasData}}
    <RecordsViewer @records={{records}} @metadata={{metadata}} @config={{config}} @appendMode={{aggregateMode}} @timeSeriesMode={{timeSeriesMode}} @model={{result}} />
  {{else if isRunningQuery}}
    {{partial "partials/running-query"}}
  {{else}}
    {{partial "partials/no-data-help"}}
  {{/if}}
</div>
