{{!--
  Copyright 2018, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
--}}
<div class="control-container">

  <div class="mode-control-wrapper">
      <div class="mode-control auto-update-wrapper {{unless showAutoUpdate "no-visibility"}}">
        <span>AutoUpdate</span>
        {{mode-toggle isToggled=autoUpdate onToggled=(action "changeAutoUpdate")}}
      </div>
      <div class="mode-control aggregate-mode-wrapper {{unless showAggregateMode "no-visibility"}}">
        <span>TimeSeries</span>
        {{mode-toggle isToggled=collapseWindows onToggled=(action "changeCollapseWindows")}}
      </div>
  </div>

  {{#unless hasError}}

    <div class="window-selector">
      {{#unless aggregateMode}}
        {{#if isTimeWindow}}
          <div class="progress-indicator window-progress-indicator">
            {{timed-progress-bar shape='Line' active=isRunningQuery useStep=false duration=windowDuration
                                 retriggerOnChangeIn=numberOfWindows}}
          </div>
        {{/if}}

        {{#power-select selected=selectedWindow options=result.windows
                        placeholderComponent=(component "result-window-placeholder" windowCount=numberOfWindows)
                        searchField="sequence" searchPlaceholder="Search with your window number in the metadata..."
                        onchange=(action "changeWindow") as |window|}}
          <span class="window-number"><strong>#{{window.sequence}}:</strong></span>
          <span class="window-size">{{window.records.length}}</span> records at
          <span class="window-time">{{moment-format window.created 'dddd, hh:mm:ss a'}}</span>
        {{/power-select}}
      {{/unless}}
    </div>

    <div class="progress-indicator query-progress-indicator">
      {{timed-progress-bar shape='Circle' active=isRunningQuery duration=queryDuration}}
    </div>

  {{/unless}}
</div>

{{#if hasData}}
  <div class="information-container window-information">
    <span class="section-header">
      <h3 class="section-title">Results</h3>
      {{#info-popover title="Results"}}
        {{partial "partials/results-help"}}
      {{/info-popover}}
    </span>
    {{window-metadata metadata=metadata}}
  </div>
{{/if}}

<div class="records-container">
  {{#if hasError}}
    {{partial "partials/query-killed"}}
  {{else if hasData}}
    {{records-viewer records=records metadata=metadata config=config model=result aggregateMode=aggregateMode}}
  {{else if isRunningQuery}}
    {{partial "partials/running-query"}}
  {{else}}
    {{partial "partials/no-data-help"}}
  {{/if}}
</div>
