<div class="progress progress-container {{unless active "hidden"}}">
  <div class="progress-bar active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={{progressWidth}} style={{progressWidth}}>
    <span class="progress-percent">{{percentNow}}%</span>
    {{yield}}
  </div>
</div>
