{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="row field-selection-container validated-field-selection {{if this.isInvalid "has-error"}}">
  {{#if this.isInvalid}}
    <ValidationTooltip @tooltipPosition={{this.tooltipPosition}} @changeset={{@changeset}} @valuePath={{@valuePath}}/>
  {{/if}}

  {{!-- Yield to add additional HTML in the row --}}
  {{yield}}

  {{#unless this.disableField}}
    <div class="{{@fieldClasses}} field-selection">
      <ColumnField @columns={{@columns}} @initialValue={{@changeset.field}} @subfieldKey="show_subfield"
                   @subfieldSeparator={{@subfieldSeparator}} @subfieldSuffix={{@subfieldSuffix}}
                   @onDone={{this.onModify}} @disabled={{@disabled}} />
    </div>
  {{/unless}}

  {{#if this.enableRenaming}}
    <div class="{{@nameClasses}} field-name">
      <LabeledInput @label="Display Name" @value={{changeset-get @changeset "name"}}
                    @onChange={{fn (changeset-set @changeset "name")}}
                    @type="text" @placeholder="Optional" @disabled={{@disabled}} />
    </div>
  {{/if}}
  {{#if this.enableDeleting}}
    <button type="button" {{on "click" this.onDelete}} disabled={{@disabled}}
            class="btn btn-danger btn-xs delete-button pull-right">
      {{fa-icon "close"}}
    </button>
  {{/if}}
</div>
