{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
 <div class="validated-input {{if this.isInvalid "has-error"}}">
  {{#if this.isInvalid}}
    {{partial "partials/validation-tooltip"}}
  {{/if}}
  <LabeledInput @type={{this.type}} @placeholder={{this.placeholder}} @fieldName={{this.fieldName}}
                @fieldValue={{this.value}} @disabled={{this.disabled}} ...attributes/>
</div>
