{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
{{#if isInvalid}}
  {{partial "partials/validation-tooltip"}}
{{/if}}

{{yield}}

{{#unless disableField}}
  <div class="{{fieldClasses}} field-selection">
    <ColumnField @columns={{columns}} @disabled={{disabled}} @initialValue={{model.field}} @subfieldKey="show_subfield" @subfieldSeparator={{subfieldSeparator}} @subfieldSuffix={{subfieldSuffix}} @onDone={{action "modifyField"}} />
  </div>
{{/unless}}

{{#if enableRenaming}}
  <div class="{{nameClasses}} field-name">
    <LabeledInput @fieldName="Display Name" @fieldValue={{model.name}} @placeholder="Optional" @disabled={{disabled}} />
  </div>
{{/if}}
{{#if enableDeleting}}
  <button {{action "deleteClicked"}} disabled={{disabled}} class="btn btn-danger btn-xs delete-button pull-right">
    {{fa-icon "close"}}
  </button>
{{/if}}
