{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
 <div class="validated-input {{if this.isInvalid "has-error"}}">
  {{#if this.isInvalid}}
    <ValidationTooltip @tooltipPosition={{this.tooltipPosition}} @changeset={{@changeset}} valuePath={{@valuePath}}/>
  {{/if}}
  <LabeledInput @label={{@label}} @value={{changeset-get @changeset @valuePath}}
                @onChange={{fn this.onChange}}
                @maxlength={{@maxlength}} @disabled={{@disabled}} @type={{@type}} @placeholder={{@placeholder}}
                ...attributes/>
</div>
