{{!--
  Copyright 2018, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
{{#if isWindowless}}
  <div class="subsection-header">No Window</div>
  <button {{action "addWindow"}} disabled={{disabled}} class="btn btn-primary btn-xs add-button">
    <i class="glyphicon glyphicon-plus"></i>
    Window
  </button>
{{else}}
  <div class="btn-group pull-right">
    <button {{action "removeWindow"}} disabled={{disabled}} class="btn btn-xs btn-danger remove-button">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>

  <div class="subsection-header">Select Your Emit Type</div>
  <div class="emit-type-options">
    {{#radio-button radioId="time-based" value=EMIT_TYPES.TIME groupValue=emitType changed=(action "changeEmitType" EMIT_TYPES.TIME) disabled=disabled}}
      {{EMIT_TYPES.TIME}}
    {{/radio-button}}
    {{#radio-button radioId="record-based" value=EMIT_TYPES.RECORD groupValue=emitType changed=(action "changeEmitType" EMIT_TYPES.RECORD) disabled=recordBasedWindowDisabled}}
      {{EMIT_TYPES.RECORD}}
    {{/radio-button}}
  </div>

  <div class="subsection-header">Emit Frequency</div>
  <div class="row">
    {{validated-input inputClassNames="col-xs-3" fieldName=everyFieldName model=query.window valuePath="emit.every" type="number" placeholder="Number" disabled=everyDisabled}}
  </div>

  {{#if isTimeBasedWindow}}
    <div class="subsection-header">Select your Include Type</div>
    <div class="include-type-options">
      {{#radio-button radioId="include-window" value=INCLUDE_TYPES.WINDOW groupValue=includeType changed=(action "changeIncludeType" INCLUDE_TYPES.WINDOW) disabled=includeDisabled}}
        {{INCLUDE_TYPES.WINDOW}}
      {{/radio-button}}
      {{#radio-button radioId="include-all" value=INCLUDE_TYPES.ALL groupValue=includeType changed=(action "changeIncludeType" INCLUDE_TYPES.ALL) disabled=allIncludeTypeDisabled}}
        {{INCLUDE_TYPES.ALL}}
      {{/radio-button}}
    </div>
  {{/if}}
{{/if}}
