{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}

{{#if (await isUnsaved)}}
  <div class="query-unsaved">
    <i class="unsaved-icon glyphicon glyphicon-alert">
      {{#tooltip-on-element}}Your query needs to be saved or has issues{{/tooltip-on-element}}
    </i>
  </div>
{{/if}}

<div class="query-description">
  {{#if row.name}}
    <p class="query-real-name"><strong>{{row.name}}</strong></p>
  {{else}}
    {{query-blurb summary=row}}
  {{/if}}
</div>
<div class="query-name-actions {{if hasHover 'is-visible'}}">
  <i class="query-name-action-icon edit-icon glyphicon glyphicon-edit" {{action "editClick" bubbles=false}}>
    {{#tooltip-on-element}}Edit this query{{/tooltip-on-element}}
  </i>
  <i class="query-name-action-icon link-icon glyphicon glyphicon-share" {{action "linkClick" bubbles=false}}>
    {{#tooltip-on-element}}Create a link to this query that you can share{{/tooltip-on-element}}
  </i>
  <i class="query-name-action-icon copy-icon glyphicon glyphicon-duplicate" {{action "copyClick" bubbles=false}}>
    {{#tooltip-on-element}}Make a copy of this query without results{{/tooltip-on-element}}
  </i>
  <i class="query-name-action-icon delete-icon glyphicon glyphicon-trash" {{action "deleteClick" bubbles=false}}>
    {{#tooltip-on-element}}Delete this query and all results{{/tooltip-on-element}}
  </i>
</div>
