{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="query-panel-container">
  <QueryInput @query={{@model.query}} @schema={{@model.schema}} @filter={{@model.filter}}
              @aggregation={{@model.aggregation}} @groups={{@model.groups}} @metrics={{@model.metrics}}
              @projections={{@model.projections}} @window={{@model.window}}
              @forceDirty={{fn (route-action "forceDirty")}}
              @saveQuery={{fn (route-action "saveQuery")}}
              @fireQuery={{fn (route-action "fireQuery")}} />
</div>
