{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="queries-list">
  <span class="section-header">
    <h3 class="section-title">All Queries</h3>
    <InfoPopover @title="All Queries">
      {{partial "partials/queries-help"}}
    </InfoPopover>
  </span>
  <div class="clearfix">
    <LinkTo @route="queries.new" @tagName="button" class="btn btn-primary btn-md add-button pull-left">
      {{fa-icon "plus"}}
      New Query
    </LinkTo>
  </div>
    <QueriesTable @queries={{model.queries}}
                  @queryClick={{fn (route-action "queryClick")}}
                  @copyQueryClick={{fn (route-action "copyQueryClick")}}
                  @linkQueryClick={{fn (route-action "linkQueryClick")}}
                  @deleteQueryClick={{fn (route-action "deleteQueryClick")}}
                  @resultClick={{fn (route-action "resultClick")}}
                  @deleteResultsClick={{fn (route-action "deleteResultsClick")}} />
</div>
